doctype html
html
    head
    body
        h1#pageTitle The title of the page
        p.big-p.
            Here some text
            big-written
        p.big-p Another big paragraph

        //when no element, div by default
        .display-box ok, div?
        #myOnlyDiv.
            div with id

