doctype html
//doctype: html, xml, transitional, stict
html
    head
    body
        h1 Hello world
        p New paragraph!
        p.
            This is...
            ... a multiline paragraph!

        ul
            li elt1
            li elt2
